^{:css-dirs ["resources/public/css"]
  :open-url false
  :mode :build-once
  :auto-testing false}
{:main clj-money.core
 :output-to "resources/public/cljs-out/prod/clj-money.js"
 :output-dir "resources/public/cljs-out/prod/clj-money"
 :optimizations :advanced
 :language-in :ecmascript-next
 :language-out :ecmascript-next}
