#:trade{:entity
        {:id 18028,
         :entity/name "Personal",
         :entity/created-at
         #object[java.time.LocalDateTime 0x1529406e "2024-12-07T17:35:50.960526"],
         :entity/updated-at
         #object[java.time.LocalDateTime 0x5ae93815 "2024-12-07T17:35:50.960526"],
         :entity/settings
         #:settings{:earliest-price-date #clj-money/local-date "2016-03-02",
                    :st-capital-gains-account
                    {:account/allocations nil,
                     :account/quantity 0M,
                     :account/entity {:id 18028},
                     :account/system-tags nil,
                     :account/user-tags nil,
                     :id 55458,
                     :account/commodity {:id 16997},
                     :account/type :income,
                     :account/value 0M,
                     :account/name "Short-term Capital Gains"},
                    :earliest-transaction-date
                    #clj-money/local-date "2016-01-01",
                    :lt-capital-gains-account
                    {:account/allocations nil,
                     :account/quantity 0M,
                     :account/entity {:id 18028},
                     :account/system-tags nil,
                     :account/user-tags nil,
                     :id 55456,
                     :account/commodity {:id 16997},
                     :account/type :income,
                     :account/value 0M,
                     :account/name "Long-term Capital Gains"},
                    :latest-transaction-date #clj-money/local-date "2016-03-02",
                    :latest-price-date #clj-money/local-date "2016-03-02",
                    :lt-capital-loss-account
                    {:account/allocations nil,
                     :account/quantity 0M,
                     :account/entity {:id 18028},
                     :account/system-tags nil,
                     :account/user-tags nil,
                     :id 55457,
                     :account/commodity {:id 16997},
                     :account/type :expense,
                     :account/value 0M,
                     :account/name "Long-term Capital Losses"},
                    :inventory-method :fifo,
                    :st-capital-loss-account
                    {:account/allocations nil,
                     :account/quantity 0M,
                     :account/entity {:id 18028},
                     :account/system-tags nil,
                     :account/user-tags nil,
                     :id 55459,
                     :account/commodity {:id 16997},
                     :account/type :expense,
                     :account/value 0M,
                     :account/name "Short-term Capital Losses"}},
         :entity/user {:id 17703}},
        :shares 25M,
        :updated-lots
        [{:lot/shares-purchased 100.0000M,
          :lot/purchase-price 10.0000M,
          :lot/purchase-date #clj-money/local-date "2016-03-02",
          :lot/created-at
          #object[java.time.LocalDateTime 0x5ef99f75 "2024-12-07T17:35:51.543476"],
          :lot/shares-owned 75.0000M,
          :lot/updated-at
          #object[java.time.LocalDateTime 0x1a9d873b "2024-12-07T17:35:51.543476"],
          :id 925,
          :lot/commodity {:id 16998},
          :lot/account {:id 55454}}],
        :lot-items
        [#:lot-item{:lot
                    {:lot/shares-purchased 100.0000M,
                     :lot/purchase-price 10.0000M,
                     :lot/purchase-date #clj-money/local-date "2016-03-02",
                     :lot/created-at
                     #object[java.time.LocalDateTime 0x5ef99f75 "2024-12-07T17:35:51.543476"],
                     :lot/shares-owned 100.0000M,
                     :lot/updated-at
                     #object[java.time.LocalDateTime 0x1a9d873b "2024-12-07T17:35:51.543476"],
                     :id 925,
                     :lot/commodity {:id 16998},
                     :lot/account {:id 55454}},
                    :lot-action :sell,
                    :shares 25M,
                    :price 15M}],
        :st-capital-gains-account
        {:account/allocations nil,
         :account/quantity 0M,
         :account/entity {:id 18028},
         :account/system-tags nil,
         :account/user-tags nil,
         :id 55458,
         :account/commodity {:id 16997},
         :account/type :income,
         :account/value 0M,
         :account/name "Short-term Capital Gains"},
        :date #clj-money/local-date "2017-03-02",
        :commodity-account
        {:account/allocations nil,
         :account/quantity 75.0000M,
         :account/updated-at
         #object[java.time.LocalDateTime 0x7020deaa "2024-12-07T17:35:51.543476"],
         :account/entity {:id 18028},
         :account/system-tags #{:tradable},
         :account/created-at
         #object[java.time.LocalDateTime 0x418e1cd6 "2024-12-07T17:35:51.543476"],
         :account/user-tags nil,
         :account/price-as-of #clj-money/local-date "2016-03-02",
         :id 55462,
         :account/earliest-transaction-date #clj-money/local-date "2016-03-02",
         :account/parent {:id 55454},
         :account/commodity {:id 16998},
         :account/type :asset,
         :account/latest-transaction-date #clj-money/local-date "2017-03-02",
         :account/value 750.00000000M,
         :account/name "AAPL"},
        :transaction
        {:transaction/transaction-date #clj-money/local-date "2017-03-02",
         :transaction/description "Sell 25 shares of AAPL at 15.000",
         :transaction/value 375.00M,
         :id #uuid "a078b7c9-077f-44cd-85e7-f3e0bc7a36e2",
         :transaction/entity {:id 18028},
         :transaction/items
         [{:transaction-item/index 0,
           :transaction-item/action :credit,
           :transaction-item/transaction
           {:id #uuid "a078b7c9-077f-44cd-85e7-f3e0bc7a36e2"},
           :transaction-item/account {:id 55456},
           :transaction-item/value 125.00M,
           :id #uuid "f18cc87b-7906-4d66-a3c9-29195871d7b9",
           :transaction-item/transaction-date #clj-money/local-date "2017-03-02",
           :transaction-item/quantity 125.00M,
           :transaction-item/balance 125.00M,
           :transaction-item/memo "Sell 25 shares of AAPL at 15.000"}
          {:transaction-item/index 2,
           :transaction-item/action :debit,
           :transaction-item/transaction
           {:id #uuid "a078b7c9-077f-44cd-85e7-f3e0bc7a36e2"},
           :transaction-item/account {:id 55454},
           :transaction-item/value 375M,
           :id #uuid "9c795529-3093-4e69-8d69-767e9feff5a1",
           :transaction-item/transaction-date #clj-money/local-date "2017-03-02",
           :transaction-item/quantity 375M,
           :transaction-item/balance 1375.0000M}
          {:transaction-item/index 1,
           :transaction-item/action :credit,
           :transaction-item/transaction
           {:id #uuid "a078b7c9-077f-44cd-85e7-f3e0bc7a36e2"},
           :transaction-item/account {:id 55462},
           :transaction-item/value 250.00M,
           :id #uuid "607cd6e0-5fc2-461e-b0b7-aa4c52885231",
           :transaction-item/transaction-date #clj-money/local-date "2017-03-02",
           :transaction-item/quantity 25M,
           :transaction-item/balance 75.0000M}],
         :transaction/lot-items
         [{:lot-item/lot-action :sell,
           :lot-item/shares 25M,
           :lot-item/price 15M,
           :lot-item/transaction-date #clj-money/local-date "2017-03-02",
           :id 199,
           :lot-item/transaction
           {:id #uuid "a078b7c9-077f-44cd-85e7-f3e0bc7a36e2"},
           :lot-item/lot {:id 925},
           :lot-item/action nil}]},
        :lt-capital-gains-account
        {:account/allocations nil,
         :account/quantity 0M,
         :account/entity {:id 18028},
         :account/system-tags nil,
         :account/user-tags nil,
         :id 55456,
         :account/commodity {:id 16997},
         :account/type :income,
         :account/value 0M,
         :account/name "Long-term Capital Gains"},
        :account nil,
        :value 375M,
        :commodity
        {:commodity/name "Apple, Inc.",
         :commodity/symbol "AAPL",
         :commodity/type :stock,
         :commodity/exchange :nasdaq,
         :commodity/price-config #:price-config{:enabled true},
         :id 16998,
         :commodity/entity {:id 18028}},
        :gains
        [{:description "Sell 25 shares of AAPL at 15.000",
          :quantity 125.00M,
          :long-term? true}],
        :lt-capital-loss-account
        {:account/allocations nil,
         :account/quantity 0M,
         :account/entity {:id 18028},
         :account/system-tags nil,
         :account/user-tags nil,
         :id 55457,
         :account/commodity {:id 16997},
         :account/type :expense,
         :account/value 0M,
         :account/name "Long-term Capital Losses"},
        :price
        {:price/trade-date #clj-money/local-date "2017-03-02",
         :price/price 15M,
         :id #uuid "015c6cce-aa00-4270-8387-47c4e800ddc5",
         :price/commodity
         {:commodity/price-date-range [#clj-money/local-date "2016-03-02"
                                       #clj-money/local-date "2016-03-02"],
          :commodity/entity {:id 18028},
          :commodity/updated-at
          #object[java.time.LocalDateTime 0x6ae47c1e "2024-12-07T17:35:51.015756"],
          :commodity/exchange :nasdaq,
          :commodity/price-config #:price-config{:enabled true},
          :commodity/created-at
          #object[java.time.LocalDateTime 0x7be55279 "2024-12-07T17:35:51.015756"],
          :id 16998,
          :commodity/type :stock,
          :commodity/symbol "AAPL",
          :commodity/name "Apple, Inc."}},
        :lots [],
        :st-capital-loss-account
        {:account/allocations nil,
         :account/quantity 0M,
         :account/entity {:id 18028},
         :account/system-tags nil,
         :account/user-tags nil,
         :id 55459,
         :account/commodity {:id 16997},
         :account/type :expense,
         :account/value 0M,
         :account/name "Short-term Capital Losses"},
        :inventory-method :fifo,
        :fee-account nil,
        :affected-accounts ()}
