{:linters {:unresolved-symbol {:exclude [(clojure.test/is [http-success?
                                                           http-created?
                                                           http-no-content?
                                                           http-bad-request?
                                                           http-not-found?
                                                           http-unauthorized?
                                                           http-forbidden?
                                                           http-redirect-to?
                                                           http-response-with-cookie?
                                                           thrown-with-ex-data?
                                                           valid?
                                                           invalid?
                                                           comparable?
                                                           seq-with-map-like?
                                                           seq-with-no-map-like?
                                                           seq-of-maps-like?
                                                           includes-progress-notification?])
                                         (cljs.test/is [http-success?
                                                        http-created?
                                                        http-no-content?
                                                        http-bad-request?
                                                        http-not-found?
                                                        http-unauthorized?
                                                        http-forbidden?
                                                        http-redirect-to?
                                                        http-response-with-cookie?
                                                        thrown-with-ex-data?
                                                        valid?
                                                        invalid?
                                                        comparable?
                                                        seq-with-map-like?
                                                        seq-with-no-map-like?
                                                        seq-of-maps-like?
                                                        includes-progress-notification?
                                                        dgknght.app-lib.test-assertions/http-success?
                                                        dgknght.app-lib.test-assertions/http-created?
                                                        dgknght.app-lib.test-assertions/http-no-content?
                                                        dgknght.app-lib.test-assertions/http-bad-request?
                                                        dgknght.app-lib.test-assertions/http-not-found?
                                                        dgknght.app-lib.test-assertions/http-unauthorized?
                                                        dgknght.app-lib.test-assertions/http-forbidden?
                                                        dgknght.app-lib.test-assertions/http-redirect-to?
                                                        dgknght.app-lib.test-assertions/http-response-with-cookie?
                                                        dgknght.app-lib.test-assertions/thrown-with-ex-data?
                                                        dgknght.app-lib.test-assertions/valid?
                                                        dgknght.app-lib.test-assertions/invalid?
                                                        dgknght.app-lib.test-assertions/comparable?
                                                        dgknght.app-lib.test-assertions/seq-with-map-like?
                                                        dgknght.app-lib.test-assertions/seq-with-no-map-like?
                                                        dgknght.app-lib.test-assertions/seq-of-maps-like?
                                                        dgknght.app-lib.test-assertions/includes-progress-notification?])
                                         (dgknght.app-lib.test/with-mail-capture)
                                         (dgknght.app-lib.web-mocks/with-web-mocks)
                                         (clj-money.entities.transactions/with-delayed-propagation)
                                         (clj-money.entities.propagation/with-propagation)
                                         (clj-money.otel/with-tracing)
                                         (clj-money.tasks/with-options)
                                         (clj-money.progress.redis-test/with-mocked-redis)
                                         (clj-money.test-helpers/dbtest)]}
           :unused-private-var {:exclude #{clj-money.entities.transactions/simplify}}
           :clojure-lsp/unused-public-var {:exclude #{clj-money.db.sql.tasks/remigrate
                                                      clj-money.db.sql.tasks/create-partitions
                                                      clj-money.db.sql.tasks/check-transaction-balances
                                                      clj-money.decimal/>=
                                                      clj-money.decimal/<=
                                                      clj-money.entities/transaction
                                                      clj-money.import.gnucash/chunk-file
                                                      clj-money.util/debounce
                                                      clj-money.util/simplify
                                                      clj-money.accounts/format-quantity
                                                      clj-money.repl
                                                      clj-money.runner/eftest
                                                      clj-money.tasks/compile-sass
                                                      clj-money.tasks/export-user-tags
                                                      clj-money.tasks/import-user-tags
                                                      clj-money.tasks/migrate-account
                                                      clj-money.tasks/recalc
                                                      clj-money.tasks/update-commodity-price-ranges
                                                      clj-money.util/pp->
                                                      clj-money.util/pp->>
                                                      clj-money.views.reconciliations/load-working-reconciliation
                                                      clj-money.views.reconciliations/reconciliation-form
                                                      clj-money.web.server/print-routes}}
           :unresolved-var {:exclude [honeysql.helpers/select
                                      honeysql.helpers/merge-select
                                      honeysql.helpers/from
                                      honeysql.helpers/join
                                      honeysql.helpers/merge-join
                                      honeysql.helpers/left-join
                                      honeysql.helpers/limit
                                      honeysql.helpers/with-recursive
                                      honeysql.core/format
                                      taoensso.carmine/del
                                      taoensso.carmine/expire
                                      taoensso.carmine/get
                                      taoensso.carmine/incrby
                                      taoensso.carmine/keys
                                      taoensso.carmine/lpush
                                      taoensso.carmine/lrange
                                      taoensso.carmine/set
                                      taoensso.carmine/setnx
                                      dgknght.app-lib.test-assertions/comparable?
                                      dgknght.app-lib.test-assertions/seq-of-maps-like?
                                      digest/sha-1]}
           :unresolved-namespace {:exclude [act
                                            cmdty
                                            price
                                            bgt
                                            rec
                                            slot
                                            trn
                                            ts
                                            split
                                            sx
                                            gnc
                                            cd]}
           :unused-referred-var {:exclude {clojure.pprint [pprint]
                                           cljs.pprint [pprint]}}
           :unused-namespace {:exclude [dgknght.app-lib.validation-tests
                                        clj-http.core
                                        clojure.pprint
                                        cljs.pprint]}
           :missing-protocol-method {:level :off}}
 :output {:exclude-files ["data_readers.clj"]}}
