{:allow-unbound-queries true
 :alpha-vantage-api-key "alpha-vantage-api-key"
 :application-name "clj-money"
 :db {:strategies {:sql {:clj-money.db/strategy :clj-money.db/sql
                         :host "localhost"
                         :post 5432
                         :user "app_user"
                         :password "please01"
                         :dbtype "postgresql"
                         :dbname "money_test"}}
      :active :sql}
 :detailed-import-logging? "false"
 :google-client-id "google-id"
 :google-client-secret "google-client-secret"
 :mailer-host "testmailer.com"
 :mailer-from "no-reply@clj-money.com"
 :partition-period :year
 :secret "test-secret-for-testing"
 :show-error-messages? true
 :site-host "www.mymoney.com"
 :site-protocol "https"
 :test? true
 :yahoo-api-key "yahoo-api-key"}
