{:alpha-vantage-api-key "alpha-vantage-api-key"
 :application-name "clj-money"
 :db "postgresql://app_user:please01@localhost/money_test"
 :detailed-import-logging? "false"
 :google-client-id "google-id"
 :google-client-secret "google-client-secret"
 :mailer-host "testmailer.com"
 :mailer-from "no-reply@clj-money.com"
 :partition-period :year
 :secret "test-secret-for-testing"
 :show-error-messages? true
 :site-host "www.mymoney.com"
 :site-protocol "https"
 :test? true
 :yahoo-api-key "yahoo-api-key"}
