<configuration debug="false">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>./log/test.log</file>
    <append>true</append>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <!--
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      -->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-10contextName %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="clj-money" level="DEBUG"/>
  <logger name="datomic.db" level="WARN"/>
  <logger name="datomic.process-monitor" level="WARN"/>
  <logger name="io.methvin" level="WARN"/>
  <logger name="io.netty" level="WARN"/>
  <logger name="clj-money.import.gnucash" level="DEBUG"/>

  <root level="DEBUG">
    <!-- appender-ref ref="CONSOLE"/ -->
    <appender-ref ref="FILE"/>
  </root>
</configuration>
