.account-type {
  font-size: 120%;
  font-weight: bold;
  text-transform: capitalize;
}

.account-depth-1 {
  display: block;
  margin-left: 2em;
}
.account-depth-2 {
  display: block;
  margin-left: 4em;
}
.account-depth-3 {
  display: block;
  margin-left: 6em;
}
.value-depth-1 {
  display: block;
  margin-right: 1em;
}
.value-depth-2 {
  display: block;
  margin-right: 2em;
}
.value-depth-3 {
  display: block;
  margin-right: 3em;
}

.report-header td {
  font-weight: bold;
  font-size: 120%;
}

.report-summary {
  font-weight: bold;
  font-size: 120%;
}

.negative {
  background: #ce403b;
  color: white;
}

.gain {
  font-weight: bold;
  color: green;
}

.loss {
  font-weight: bold;
  color: red;
}

.note {
  font-family: italic;
}

.typeahead-list {
  border: 1px solid black;
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.typeahead-item, .typeahead-highlight {
  padding: .5em;
}

.typeahead-highlight {
  background-color: #157BB1;
  color: #fff;
}

/* This should be moved to a place where it can be packaged with budget-monitor.js */
.paced-progress-bar {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
}

.paced-progress-bar-canvas {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

a.small-add {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

td.empty-table {
  padding-top: 1em;
  text-align: center;
  font-size: 120%;
  color: #666;
}

@media print {
  #side-bar, .btn-group, .btn, .nav, #report-settings {
    display: none;
  }
}

.inline-status {
  display: inline-block;
  text-align: center;
  padding: .5em;
}
