.account-type {
  font-size: 120%;
  font-weight: bold;
  text-transform: capitalize;
}

.account-depth-1 {
  display: block;
  margin-left: 2em;
}
.account-depth-2 {
  display: block;
  margin-left: 4em;
}
.account-depth-3 {
  display: block;
  margin-left: 6em;
}
.value-depth-1 {
  display: block;
  margin-right: 2em;
}
.value-depth-2 {
  display: block;
  margin-right: 4em;
}
.value-depth-3 {
  display: block;
  margin-right: 6em;
}
.value-depth-4 {
  display: block;
  margin-right: 8em;
}

.budget-item-row th {
  font-weight: normal;
}

.report-header td, .report-footer td {
  font-weight: bold;
  font-size: 110%;
}

.report-header td, .report-header th {
  border-bottom: 1px solid black;
}

.report-condensed-summary td, .report-condensed-summary th {
  font-weight: bold;
  font-size: 110%;
}

.report-footer td, .report-footer th {
  border-top: 1px solid black;
}

.report-summary {
  border-top: 1px solid black;
  font-weight: bold;
  font-size: 110%;
}

.portfolio tbody .report-header td {
  border-bottom: none;
  font-size: 110%;
  cursor: pointer;
}

.portfolio tbody .report-subheader td {
  cursor: pointer;
}

.negative {
  background: #ce403b;
  color: white;
}

.gain {
  font-weight: bold;
  color: green;
}

.loss {
  font-weight: bold;
  color: red;
}

.note {
  font-family: italic;
}

.typeahead-list {
  border: 1px solid black;
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.typeahead-item, .typeahead-highlight {
  padding: .5em;
}

.typeahead-highlight {
  background-color: #157BB1;
  color: #fff;
}

/* This should be moved to a place where it can be packaged with budget-monitor.js */
.paced-progress-bar {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
}

.paced-progress-bar-canvas {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

a.small-add {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

td.empty-table {
  padding-top: 1em;
  text-align: center;
  font-size: 120%;
  color: #666;
}

.inline-status {
  display: inline-block;
  text-align: center;
  padding: .5em;
  font-size: 130%;
}

td.status {
  text-align: center;
  padding: .5em;
}

.drop-zone {
  font-weight: bold;
  font-size: 150%;
  padding: 0.5em;
  border-radius: .5em;
  text-align: center;
  margin-bottom: 1em;
}

.drop-zone div {
  background-color: transparent;
  border: 3px dashed white;
  padding: 3em 0.5em;
  border-radius: .5em;
}

.toggle-ctl {
  display: inline-block;
  padding-right: .5em;
  cursor: pointer;
}

@media print {
  #side-bar, .btn-group, .btn, .nav, #report-settings {
    display: none;
  }
}

.accounts-header {
  display: flex;
}

table tfoot td {
  font-weight: bold;
}

#login {
  display: flex;
  align-items: center;
  width: 15em;
}

#login span {
  display: inline-block;
  margin-left: 1em;
}

.calendar-selected {
  background-color: var(--primary);
  color: var(--white);
}

.calendar-today {
  background-color: var(--secondary);
  color: var(--white);
}

.out-of-month {
  background-color: var(--gray);
}

.background {
  height: 100%;
  width: 100%;
  background-color: #99999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-container {
  position: absolute;
  top: 2em;
  left: 2em;
  z-index: 10;
}

.sched-tran-disabled {
  text-decoration-line: line-through;
}
.sched-tran-expired {
  background-color: #CCC;
}

.tag {
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  margin-right: 0.5em;
}

.tag a {
  text-decoration: none;
}

.account-tag {
  background-color: #17a2b8;
  color: #fff;
}

.account-tag a {
  color: #fff;
}
