[{:db/ident :import/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The user that imported the data"}
 {:db/ident :import/entity-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The name for the entity that results from the import"}
 {:db/ident :import/images
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The binary images that contain the data to be imported"}
 {:db/ident :import/options
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/isComponent true
  :db/doc "Options to be applied to the import"}
 {:db/ident :import-option/lt-capital-gains-account
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The path to the account where long-term capital gains are recorded"}
 {:db/ident :import-option/st-capital-gains-account
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The path to the account where short-term capital gains are recorded"}
 {:db/ident :import-option/lt-capital-loss-account
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The path to the account where long-term capital loss are recorded"}
 {:db/ident :import-option/st-capital-loss-account
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The path to the account where short-term capital gains are recorded"}
 {:db/ident :import/process
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The import progress, serialized as edn"}]
