[{:db/ident :invitation/invited-by
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The admin user that created the invitation"}
 {:db/ident :invitation/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The user created when the invitation was accepted"}
 {:db/ident :invitation/recipient
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The email address of the person being invited"}
 {:db/ident :invitation/note
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "An optional note from the admin to the invitee"}
 {:db/ident :invitation/status
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc "The status of the invitation (unsent, sent, accepted, declined)"}
 {:db/ident :invitation/token
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Secure token for the invitation acceptance link"}
 {:db/ident :invitation/expires-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "The date and time at which the invitation expires"}]
