[{:db/ident :lot-note/lots
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The lots to which the note is attached"}
 {:db/ident :lot-note/transaction-date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "The date of the event recorded in the note"}
 {:db/ident :lot-note/memo
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A note describing the event"}]
