[{:db/ident :transaction-item/debit-item
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/isComponent true
  :db/doc "The details of the debit part"}
 {:db/ident :transaction-item/credit-item
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/isComponent true
  :db/doc "The details of the credit part"}
 {:db/ident :transaction-item/value
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/noHistory true
  :db/doc "The account value as of this item expressed in the default commodity"}]
