[{:db/ident :transaction-item/debit-account
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The account that was debited"}
 {:db/ident :transaction-item/credit-account
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The account that was credited"}
 {:db/ident :transaction-item/value
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/noHistory true
  :db/doc "The account value as of this item expressed in the default commodity"}]
